<?xml version="1.0" encoding="utf-8"?>
<module>
  <name>ZGW.GMS.Platform.Web</name>
  <label>系统管理</label>
  <order>99</order>
  <description>系统管理</description>
  <routes>
    <item name="Platform" url="{controller}/{action}/{id}" controller="Platform" action="Index" id="[Optional]" namespaces=""></item>
    <item name="Verification" url="Verification/{action}/{id}" controller="Verification" action="Login" id="[Optional]" namespaces=""></item>
    <item name="User" url="User/{action}/{id}" controller="User" action="Index" id="[Optional]" namespaces=""></item>
    <item name="Role" url="Role/{action}/{id}" controller="Role" action="Index" id="[Optional]" namespaces=""></item>
    <!--<item name="CustomerStaffQuit" url="CustomerStaffQuit/{action}/{id}" controller="CustomerStaffQuit" action="Index" id="[Optional]" namespaces=""></item>
    <item name="CustomerStaff" url="CustomerStaff/{action}/{id}" controller="CustomerStaff" action="Index" id="[Optional]" namespaces=""></item>
    <item name="Customer" url="Customer/{action}/{id}" controller="Customer" action="Index" id="[Optional]" namespaces=""></item>
    <item name="BujiaoAgreement" url="BujiaoAgreement/{action}/{id}" controller="BujiaoAgreement" action="Index" id="[Optional]" namespaces=""></item>
    <item name="InformationMaintenance" url="InformationMaintenance/{action}/{id}" controller="InformationMaintenance" action="Index" id="[Optional]" namespaces=""></item>
    <item name="Order" url="Order/{action}/{id}" controller="Order" action="GjjBZengDetail" id="[Optional]" namespaces=""></item>
    <item name="Temp" url="Temp/{action}/{id}" controller="Temp" action="Index" id="[Optional]" namespaces=""></item>
    <item name="TrusteeSingle" url="TrusteeSingle/{action}/{id}" controller="TrusteeSingle" action="Index" id="[Optional]" namespaces=""></item>
    <item name="potentialCustomer" url="PotentialCustormer/{action}/{id}" controller="PotentialCustormer" id="[Optional]" namespaces="CIIC.OMS.Customer.Web.Controllers"></item>
    <item name="EmpSign" url="EmpSign/{action}/{id}" controller="EmpSign" action="Index" id="[Optional]" namespaces=""></item>
    <item name="CustSign" url="CustSign/{action}/{id}" controller="CustSign" action="Index" id="[Optional]" namespaces=""></item>
    <item name="CustContract" url="CustContract/{action}/{id}" controller="CustContract" action="Index" id="[Optional]" namespaces=""></item>
    <item name="ServiceOverview" url="ServiceOverview/{action}/{id}" controller="ServiceOverview" action="Index" id="[Optional]" namespaces=""></item>
    <item name="LaborContract" url="LaborContract/{action}/{id}" controller="LaborContract" action="Index" id="[Optional]" namespaces=""></item>
    <item name="LinkManManage_Wei" url="LinkManManage/{action}/{id}" controller="LinkManManage" action="Index" id="[Optional]" namespaces=""></item>
    <item name="ServiceCase" url="ServiceCase/{action}/{id}" controller="ServiceCase" action="ServiceProjectList" id="[Optional]" namespaces=""></item>
    <item name="ServiceProject" url="ServiceProject/{action}/{id}" controller="ServiceProject" action="ServiceProject" id="[Optional]" namespaces=""></item>
    <item name="ServiceProjectForSales" url="ServiceProjectForSales/{action}/{id}" controller="ServiceProjectForSales" action="ServiceProjectForSales" id="[Optional]" namespaces=""></item>
    <item name="JobOrderInvoke" url="JobOrderInvoke/{action}/{id}" controller="JobOrderInvoke" action="Create" id="[Optional]" namespaces=""></item>
    <item name="STServiceCase" url="STServiceCase/{action}/{id}" controller="STServiceCase" action="CaseList" id="[Optional]" namespaces=""></item>
    <item name="ChangeService" url="ChangeService/{action}/{id}" controller="ChangeService" action="CreateTemplet" id="[Optional]" namespaces=""></item>
    <item name="TransferCustomer" url="TransferCustomer/{action}/{id}" controller="TransferCustomer" action="TransferCustomers" id="[Optional]" namespaces=""></item>
    <item name="HistoryHireInfo" url="HistoryHireInfo/{action}/{id}" controller="HistoryHireInfo" action="Index" id="[Optional]" namespaces=""></item>
    <item name="Consignee" url="Consignee/{action}/{id}" controller="Consignee" action="FormDownLoadList" id="[Optional]" namespaces=""></item>
    <item name="CustomerStatistic" url="CustomerStatistic/{action}/{id}" controller="CustomerStatistic" action="ListLYG" id="[Optional]" namespaces=""></item>
    <item name="Common_Default" url="Common/{action}/{id}" controller="Common" action="Index" id="[Optional]" namespaces=""></item>
    <item name="SettingCenter" url="SettingCenter/{action}/{id}" controller="SettingCenter" action="Main" id="[Optional]" namespaces=""></item>
    <item name="CustomerCenter" url="CustomerCenter/{action}/{id}" controller="CustomerCenter" action="Main" id="[Optional]" namespaces=""></item>
    <item name="SearchReport" url="SearchReport/{action}/{id}" controller="SearchReport" action="Main" id="[Optional]" namespaces=""></item>
    <item name="AdjustBill" url="AdjustBill/{action}/{id}" controller="AdjustBill" action="Main" id="[Optional]" namespaces=""></item>
    <item name="StaffEntry" url="StaffEntry/{action}/{id}" controller="StaffEntry" action="StaffInfo" id="[Optional]" namespaces=""></item>
    <item name="EmpEntry" url="EmpEntry/{action}/{id}" controller="EmpEntry" action="Entry" id="[Optional]" namespaces=""></item>
    <item name="EmpEntryListNo" url="EmpEntryListNo/{action}/{id}" controller="EmpEntryListNo" action="EmployeeList" id="[Optional]" namespaces=""></item>
    <item name="CustomerSheBaoGJJTotal" url="CustomerSheBaoGJJTotal/{action}/{id}" controller="CustomerSheBaoGJJTotal" action="SheBaoGJJTotalIndex" id="[Optional]" namespaces=""></item>
    <item name="CustomerYJWJ" url="CustomerYJWJ/{action}/{id}" controller="CustomerYJWJ" action="YJWJList" id="[Optional]" namespaces=""></item>
    <item name="ExcelImport" url="ExcelImport/{action}/{id}" controller="ExcelImport" action="Index" id="[Optional]" namespaces=""></item>
    <item name="EmpBatchDeal" url="EmpBatchDeal/{action}/{id}" controller="EmpBatchDeal" action="Index" id="[Optional]" namespaces=""></item>
    <item name="InternetHr" url="InternetHr/{action}/{id}" controller="InternetHr" action="InternetHr" id="[Optional]" namespaces=""></item>
    <item name="InternetHrCloud" url="InternetHrCloud/{action}/{id}" controller="InternetHrCloud" action="InternetHrCloud" id="[Optional]" namespaces=""></item>
  <item name="CustSealApply" url="CustSealApply/{action}/{id}" controller="CustSealApply" action="CustSealApply" id="[Optional]" namespaces=""></item>
    <item name="ExpressDeliveryMode" url="ExpressDeliveryMode/{action}/{id}" controller="ExpressDeliveryMode" action="Index" id="[Optional]" namespaces=""></item>-->
  </routes>
  <features></features>
</module>